---
import { Image } from "astro:assets";

const env = process.env.NODE_ENV;
const imgHost = env === "production" ? "https://storage.remifrogo.art" : "http://localhost:4321/img";
const { key, rank } = Astro.props;
const R2 = Astro.locals.runtime.env.R2;
const painting = await R2.get(key);
const metaData = painting.customMetadata;
---

<div id={key} draggable="true">
  <div>{rank}</div>
   <div class="painting-view">
    <Image
      width="300"
      height="300"
      src={env === "production"
        ? `${imgHost}/${key}`
        : `https://storage.remifrogo.art/paintings/test`}
      alt={key}
    />
    <div>
      <h1>{metaData.title}</h1>
      <h2>{key}</h2>
      <p>{metaData.material}</p>
      <p>{metaData.dimensions}</p>
      <p>{metaData.year}</p>
    </div>

    <a href={`/admin?action=del&key=${key}`}>DELETE</a>
    <button id="edit-button">EDIT</button>
  </div>
  <form method="POST" class="hidden" enctype="multipart/form-data">
    <input type="hidden" name="key" value={key} />
    <input type="text" name="title" value={metaData.title} />
    <input type="text" name="material" value={metaData.material} />
    <input type="text" name="dimensions" value={metaData.dimensions} />
    <input type="text" name="year" value={metaData.year} />
    <input type="text" name="rank" value={metaData?.rank} />
    <input type="file" name="image" accept="image/*" />
    <button type="submit">Save</button>
  </form>
</div>
<script define:vars={{key}}>
  const container = document.getElementById(`${key}`)
  console.log(container.querySelector("#edit-button"))
  container.querySelector("#edit-button").addEventListener("click", () => {
    container.querySelector("form").classList.toggle("hidden");
  });
  // const draggableElement = container.querySelector('[draggable="true"]')
  // draggableElement.addEventListener('dragstart', (event) => {
  //   event.dataTransfer.setData('text/plain', event.target.id);
  // });
</script>
<style>
  a {
    box-sizing: border-box;
    background-color: red;
    color: white;
    font-size: 1.25rem;
  }
  .hidden {
    display: none;
  }
</style>
