---
import type { GetStaticPaths } from "astro";
import dbInstance from "../../lib/db";
export const prerender = true;
export const getStaticPaths = (async () => {
    const paintings = await dbInstance.getAllPaintings()
    return paintings.map(painting => ({
        params: {
            piece: painting.key
        },
        props: {
            painting
        }
    }));
}) satisfies GetStaticPaths;
import Layout from "../../layouts/Layout.astro";

const {painting} = Astro.props;
const description = `${painting.title}
${painting.material}
${painting.year}`;
const image = `https://storage.remifrogo.art/${painting.key}`;
---

<Layout title={painting.title} seo={{ title: painting.title, description, image }}>
  <h1>{painting.title}</h1>
  <img src={image} />
</Layout>
<style>
    h1 {
        position:absolute;
        top:10px;
        left:10px;
    }
    img {
        /* width: 100%; */
        height:100%;
    }
</style>