---
import Layout from "../layouts/Layout.astro";
import dbInstance from "../lib/db";

const appointments = await dbInstance.getAllAppointments()
const users = await dbInstance.getAllUsers()
console.log('users:',users)
// console.log(appointments)
---

<Layout title="appointments">
  <div>
    <h1>Appointments</h1>
    <ul>
      {
        appointments.map((a:any) => (
          <div>
            <div>{a.name}</div>
            <div>{a.email}</div>
            <div>{a.instagram}</div>
            <div>{a.tattooDescription}</div>
            <div>{a.tattooPlacement}</div>
            <div>{a.tattooSize}</div>
            <div>{a.availability}</div>
            <div>{a.miscellaneous}</div>
            <img src={`/img/${a.imageSrc}`}/>
            <div>{a.createdAt}</div>

          </div>
        ))
      }
    </ul>
  </div>
</Layout>
<style>
    img {
        width: 100px;}
</style>