---
import { Image } from "astro:assets";
import LoadingSpinner from "./LoadingSpinner.astro";
import type { ImageMetadata } from "astro";
import placeHolder from "../assets/paintings/lambcityoil.jpg";

interface Props {
  key: string;
}

let { key } = Astro.props;
const R2 = Astro.locals.runtime.env.R2;
let painting:any = null;
if (process.env.NODE_ENV === "production") {
  painting = await R2.get(key);
} else {
  painting = await fetch("http://localhost:8787/remi/" + encodeURIComponent(key)).then((r) => r.json());
}
// console.log(painting)
const metaData = painting.customMetadata;
// console.log(metaData);
// console.log(metaData)
const { title, material, dimensions, year } = metaData;

const isProd = process.env.NODE_ENV;
const imgHost = isProd ? "https://storage.remifrogo.art" : "http://localhost:4321/img";
let src = imgHost + "/" + key;
// if (process.env.NODE_ENV === "development") {
//     src = "https://storage.remifrogo.art/paintings/lamb-city-1713209386638";
// }
---

<div id={key} class="art-piece">
  <div id={key + "-marker"} class="marker"></div>
  <div class="art-piece-wrapper">
    {/*<h1 class="title">{d.name}</h1> */}
    <div class="img-wrapper">
      <img
        loading="lazy"
        data-src={src}
        src={"https://baos.haus/cdn-cgi/image/width=50,height=50,quality=100/" + src}
        alt={title}
      />
      <!-- <Image width="300" src={images[src]()} alt={title} class="mobile" /> -->
    </div>
    <!-- <LoadingSpinner visibility="show" /> -->
    <div class="description-section">
      <div class="description">{title}</div>
      <div class="description">{material}</div>
      <div class="description">{dimensions}</div>
      <div class="description">{year}</div>
    </div>
  </div>
</div>

<style>
  .art-piece {
    position: relative;
    z-index: -1;
    /* padding: 3rem; */
    min-height: 80vh;
    /* background: #6e6e6e; */
    display: flex;
    padding-top: 2rem;
    /* max-width: 800px; */

    /* background-color: yellow; */
  }

  .marker {
    width: 10px;
    height: 10px;
    background-color: black;
    pointer-events: none;
    top: -10px;
    position: absolute;
    top: -10px;
    opacity: 0;
  }

  .art-piece-wrapper {
    /* margin:auto; */
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    /* background-color: black; */
  }
  .img-wrapper {
    display: block;
    margin: 40px auto;
  }
  img {
    margin: 0 auto;
    width: 100%;
  }
  .desk {
    display: none;
  }

  .title {
    margin-bottom: 1rem;
  }

  .art-piece img {
    box-shadow: 10px 10px 30px hsl(0, 0%, 73%);
  }

  .description-section {
    /* margin-top: 2rem; */
    /* display: flex; */
    justify-content: space-between;
    gap: 1rem;
    max-width: 400px;
    margin-top: -10px;
    width: 70%;
    /* margin-top: 2rem; */
    /* padding-left: 2rem; */
    font-size: 0.75rem;
  }

  @media screen and (min-width: 768px) {
    .desk {
      display: block;
    }
    .mobile {
      display: none;
    }
    .art-piece {
      margin-left: 100px;
      padding: 2rem 0rem;
    }
    .art-piece-wrapper {
      flex: 1 0 auto;
      flex-direction: row;
    }
    .img-wrapper {
      margin: 0 auto;
      width: 800px;
    }
    .description-section {
      flex: 0 1 300px;
      padding-right: 100px;
      font-size: 1.5rem;
      text-wrap: balance;
    }
  }

  .description {
    /* width: 50%; */
    /* padding: 1rem; */
    /* background-color: white; */
    color: black;
  }

  .description:nth-child(2) {
    /* margin-top: 1rem; */
    /* background-color: black;
    color: white; */
  }
</style>
