---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  seo?: {
    title?: string;
    description?: string;
    image?: string;
  };
}

const { title, seo } = Astro.props;
const urlObject = new URL(Astro.request.url);
const isHome = urlObject.pathname === "/";
const isTats = urlObject.pathname.includes("/tattoos")
const isArt = urlObject.pathname.includes("/art")
const isAbout = urlObject.pathname === "/about";

const defaultDescription = "Remi Frogo is a fine and tattoo artist based in Los Angeles, California.";
const defaultImage = "https://remifrogo.art/images/seo-img.png";

const imgUrl = seo?.image || defaultImage;

const testColor = "#fff";

const theme = {
  primary: "var(--yellow)",
  secondary: "var(--orange)",
};

if (isArt) {
  theme.primary = "#fff";
  theme.secondary = "#000";
}

if (isAbout) {
  theme.primary = "#000";
  theme.secondary = "#fff";

}
---

<!doctype html>
<html lang="en" style={`--primary-color:${theme.primary};--secondary-color:${theme.secondary}`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={seo?.description || defaultDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/lambheads.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@astrodotbuild" />
    <meta name="twitter:title" content={seo?.title || title} />
    <meta name="twitter:description" content={seo?.description || defaultDescription} />
    <meta name="twitter:image" content={imgUrl} />
    <meta property="og:title" content={seo?.title || title} />
    <meta property="og:description" content={seo?.description || defaultDescription} />
    <meta property="og:image" content={imgUrl} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content={Astro.request.url} />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#ea5001" />

    <title>{title}</title>
  </head>
  <body>
    {!isHome && <Header isTats={isTats} />}
    <main>
      <slot />
    </main>
    {!isHome && <Footer />}
  </body>
</html>
<style is:global>
  :root {
    --yellow: #e9ff6e;
    --green: #8bcf85;
    --green-accent: #16db26;
    --orange: #ea5001;

    /* --primary-color: var(--yellow);
    --secondary-color: var(--orange); */

    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
    color: var(--secondary-color);
    background: var(--primary-color);
    background-size: 224px;
    margin: 0px;
    padding: 0px;
    transition:
      color 0.5s,
      background 0.5s;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  html.black {
    background: black;
  }
  html.black a {
    color: black;
  }
  main {
    /* margin: 1rem; */
    /* margin:0px; */
    min-height: 77vh;
  }
  li {
    font-size: 1.5rem;
    list-style-type: none;
  }
  h1,
  h2 {
    margin: 0px;
  }
  h2 {
    font-size: 2rem;
  }
  h1 {
    margin: 0px;
    font-size: 3rem;
  }

  a {
    color: var(--secondary-color);
    transition:
      filter 0.5s,
      color 0.5s;
    text-decoration: none;
    filter: invert(0);
  }

  a:hover {
    color: var(--green-accent) !important;
  }

  button {
    cursor: pointer;
  }

  .flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  .items-center {
    align-items: center;
  }
  .gap-4 {
    gap: 1rem;
  }
</style>
